.label.tag {
    outline: 1px solid var(--color_border);
    border-radius: calc(var(--size_unit) * 4);
    padding: 0 calc(var(--size_unit) * 2);
    display: inline-block;
    min-width: calc(var(--size_unit) * 15);
    min-height: calc(var(--size_unit) * 8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color .3s, outline-color .3s;
    user-select: none;
    cursor: pointer;
    gap: var(--size_unit);
    background-color: var(--color_background-mist);
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.label.readonly {
    pointer-events: none;
}

.label.tag:has(.control:checked) {
    outline-offset: -1px;
    outline-width: 2px;
    outline-color: var(--color_success_text);
}

.label.tag .control {
    display: none;
}

